body {
    background-color: powderblue;
}

.centre {
  width: 20%;
  height: 20%;
  min-height: 200px;
  min-width: 200px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
}

#name {
  color: white;
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
  font-size: 300%;
  font-weight: bold;
  letter-spacing: 5px;
  margin-top: 1%;
  margin-bottom: -1.5%;
}

.line {
  height: 5px;
  width: 50%;
  min-width: 300px;
  border-radius: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  background-color: white;
}

.icon {
  border: 3px solid white;
  border-radius: 50%;
  width: 6%;
  height: 6%;
  margin-top: 1%;
}

#about {
  margin-left: 28%;
}

#projects {
  margin-left: 6%;
}

#interests {
  margin-left: 6%;
}

#linkedin {
  margin-left: 6%;
}
