body {
    background-color: powderblue;
}

img {
  width: 20%;
  height: 20%;
  min-height: 200px;
  min-width: 200px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
}

.line {
  height: 5px;
  width: 50%;
  min-width: 300px;
  border-radius: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  background-color: white;
}
