body {
    background-color: powderblue;
    background-image: url("./background.png");
}

.centre {
  width: 20%;
  height: 20%;
  min-height: 200px;
  min-width: 200px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  margin-bottom: 1%;
  border-style: double;
  border-color: white;
}

#name {
  color: white;
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
  font-size: 300%;
  letter-spacing: 7px;
  margin-top: 1%;
  margin-bottom: -1.5%;
  text-shadow: 2px 2px #9ec9cf;
}

.profilebox {
  width: 50%;
  min-width: 300px;
  padding: 10px;
  border: 2px solid white;
  box-shadow: 2px 2px #9ec9cf;
  margin: auto;
  background-color: powderblue;
}

.line {
  height: 3px;
  width: 95%;
  border-radius: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 1%;
  background-color: white;
  box-shadow: 2px 2px #9ec9cf;
}

a {
  border: 0;
}

.icon {
  border: 3px solid white;
  border-radius: 50%;
  width: 55%;
  margin-top: 1%;
  box-shadow: 2px 2px #9ec9cf;
  min-width: 10%;
  min-height: 10%;
}

.icon:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.icons {
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 15%;
}

#aboutTxt {
 visibility: hidden;
 padding: .5em;
 box-sizing: border-box;
 overflow: hidden;
 width: 50%;
 margin: auto;
 color: #6E8C90;
 font-size: 110%;
 font-family: Verdana, Geneva, sans-serif;
 transition: height 1s, width 1s, padding 1s, visibility 1s, opacity 0.5s ease-out;

}

#projectsTxt {
  visibility: hidden;
  padding: .5em;
  box-sizing: border-box;
  overflow: hidden;
  width: 50%;
  margin: auto;
  color: #6E8C90;
  font-size: 110%;
  font-family: Verdana, Geneva, sans-serif;
  transition: height 1s, width 1s, padding 1s, visibility 1s, opacity 0.5s ease-out;
}

table, th, td {
  font-size: 95%;
  font-weight: normal;
}

#scrollable {
  overflow-x: scroll;
}

tr:nth-child(even) {
  background-color: white;
}

.header {
  font-weight: bold;
}

@media only screen and (max-width: 420px) {
  #aboutTxt {
    width: 90%;
  }

  #projectsTxt {
    width: 90%;
  }

  .icon {
    width: 70%;
  }

  .icons {
    margin-left: 5%;
    margin-right: 0%;
    margin-top: 5%;
  }
}

@media only screen and (max-width 1000px) {
  #aboutTxt {
    width: 90%;
  }

  #projectsTxt {
    width: 90%;
  }
}

@media only screen and (max-width 350px) {
  .profilebox {
    min-width: 200px;
  }
}
